<div class="container my-5">
  <h1 class="text-center text-primary">{{Title}}</h1>
  <img width="300" height="300" class="img-fluid mx-auto d-block mb-3" [src]="imageLink" alt="">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <input class="form-control mb-4" placeholder="New Task"[(ngModel)]="newTask" >
      </div>
      <div class="col-sm-2">
        <button (click)="addTask()" mat-flat-button color="primary">Add Task</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="Tasks.length > 0; else emptyMessage">
    <div class="col-sm-11">
      <p-table [value]="Tasks" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Item</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task let-index="rowIndex">
          <tr>
            <td>{{ task }}</td>
            <td><button mat-flat-button color="primary">edit</button></td>
            <td><button mat-flat-button color="warn"(click)="removeTask(index)">remove</button></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<ng-template #emptyMessage>
  <p>No Tasks available.</p>
</ng-template>
